<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head', {title}) %>
	<body>
		<%- include('partials/nav', {user}) %>
		<main>
			<div>
				<h1>Message board</h1>
				<% if(!user) { %>
				<p>(Login to see messages)</p>
			</div>
			<%} %> <% if(user && user.membership === 'non-member') { %>
			<p>(Become a member to post messages)</p>
			<%} %> <% if(user) { %> <% if(posts.length === 0) {%>
			<p>No posts...</p>

			<% } else { %>
			<div class="cards">
				<% posts.forEach((post) => {%>
				<div class="postCard">
					<h2><%= post.title %></h2>
					<p><%= post.body %></p>
					<hr />
					<p>@<%= post.author %></p>
					<% if(user && user.membership === 'admin') {%>
					<a href="/delete/<%= post._id %>" class="delete">Delete</a>
					<% } %>
				</div>
				<% }); %>
			</div>
			<% } %> %> <% } %>
		</main>
	</body>
</html>
