<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head', {title}) %>
	<body>
		<%- include('partials/nav') %>
		<main>
			<h1>Message board</h1>
			<p>Sign up or login to participate!</p>
			<% if(posts.length === 0) {%>
			<p>No posts...</p>
			<% } else { %> <% posts.forEach((post) => {%>
			<div class="postCard">
				<h2><%= post.title %></h2>
				<p><%= post.body %></p>
				<!-- TODO: Show/hide author based on membership -->
				<p><%= post.author %></p>
			</div>
			<% }); %> <% } %>
		</main>
	</body>
</html>
